@import url("grid.css");
* {
    box-sizing: border-box;
}

body {
    background-image: url("../../homework1/img/forest.jpg");
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    border: 1px solid black;
    margin: 10px;
    height: 12vw;
    background-color: rgba(224, 221, 11, 0.5);
}

.col-6 {
    width: calc(50% - 20px);
}

.col-12 {
    width: calc(100% - 20px);
}

.col-2 {
    width: calc(16.667% - 20px);
    height: 38.6vw;
}

.container {
    border: 1px solid black;
    width: 800px;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    padding: 0px;
    margin: 0px;
    text-decoration-line: none;
    display: block;
    position: relative;
}

img {
    width: 100%;
    height: 38.6vw;
}

img~span {
    position: absolute;
    color: blanchedalmond;
    top: 10px;
    left: 0;
    width: 100%;
}