body {
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    padding: 0px;
    margin: 0 auto;
    list-style-type: none;
    width: 750px;
    text-align: center;
    background: #c4e6f3e6;
    border: 2px solid #808080;
    border-radius: 20px 5px;
}

li {
    display: inline;
}

ul a {
    color: #000000;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100px;
}

ul a:hover {
    color: #008000;
}